<h1>Create Form will go here!</h1>

<form action="/parcels" method="post">
  <label for="width">Width:</label>
  <input id="width" name="width" type="number" required>
  <label for="height">Height:</label>
  <input id="height" name="height" type="number" required>
  <label for="depth">Depth:</label>
  <input id="depth" name="depth" type="number" required>
  <button type="submit">Mail Parcel!</button>
</form>